.homeCard {
    text-align: center;
}
#logo{
    text-align: center;
    background-color: #2b2d42;
    margin: 0px;
    padding: 0px;
}
#root{
    background-color: #d5bdaf;
}
.search-snippet{
    margin: 0 auto;
    display: block;
}
.searchbar{
    margin: 0 auto;
    display: block; 
}
.macos-identifier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}
.linux-identifier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}
.windows-identifier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.snippets-identifier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#mission{
    margin-left: 300px;
    margin-right: 300px;
}
#mission-statement{
    text-decoration: underline;
}
#welcome-to{
    font-size: 80px;
}
#meet-developers{
    text-decoration: underline;
}
.Card{
    margin: 20px; 
}

.new-shortCut-form{
    padding-left: 20px;
}

.windows-card{
    padding: 10px; 
}

#developer-cards{
    margin: 10px;
}

.Card {
    list-style: none;
    margin: 1rem;
    width: calc(33% - 2rem);
    display: flex;
    flex-wrap: wrap;
}


  