.homeCard {
    text-align: center;
}
#logo{
    text-align: center;
    background-color: #2b2d42;
}
#root{
    background-color: #d5bdaf;
}
.Card {
    list-style: none;
    margin: 1rem;
    width: calc(33% - 2rem);
    display: flex;
    flex-wrap: wrap;
}
  

  